.bp5-datepicker {
  background-color: var(--bgColor2);
  border: 1px solid var(--borderColor);
  border-radius: 4px;
  padding: 15px;

  .bp5-timepicker {
    &-input-row {
      background-color: var(--bgColor);
    }

    &-input {
      height: 30px;
      color: var(--color);
    }
  }
}

.date-input-popover {
  .bp5-input {
    height: 34px;
    cursor: pointer;

    &:disabled {
      background-color: var(--bgColor);
      cursor: not-allowed;
    }
  }

  .bp5-disabled {
    .bp5-input-action {
      svg path {
        fill: var(--color2);
      }
    }
  }

  .bp5-input-action {
    padding-right: 8px;
    pointer-events: none;

    svg {
      height: 34px;
      line-height: 34px;
    }
  }

  .icon--chevron-up {
    path {
      fill: var(--activeColor);
    }
  }
}

.bp5-popover {
  &-open {
    .bp5-input {
      color: var(--activeColor);

      &::placeholder {
        color: var(--activeColor);
      }
    }
  }

  &.bp5-dateinput-popover {
    margin-top: 5px !important;
  }
}

@media screen and (min-width: 2560px) {
  .date-input-popover {
    .bp5-input {
      height: 50px;
      font-size: 18px;
    }

    .bp5-input-action {
      svg {
        height: 50px;
        line-height: 50px;
      }
    }
  }

  .bp5-datepicker {
    .DayPicker {
      .bp5-datepicker {
        &-month-select, &-year-select {
          select {
            font-size: 18px;
          }
        }
      }
    }
  }
}
