/* ===============================
   Auto Update Toast (content)
   =============================== */

.au-toast {
  // min-width: 320px;
  display: flex;
  flex-direction: row;
  gap: 6px;
  width: fit-content;
  padding: 5px 10px;

  &__title {
    font-weight: 600;
    font-size: 14px;
  }

  &__text {
    font-size: 13px;
    opacity: 0.85;
     width: fit-content;
  }

  &__spinner {
    position: relative;
    width: 36px;
    height: 36px;
    margin-top: 8px;
  }

  &__spinner-percent {
    position: absolute;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 11px;
    font-weight: 600;
    pointer-events: none;
  }

  &__actions {
    display: flex;
    gap: 8px;
    margin-top: 10px;
  }
}

.au-update-overlay {
  position: fixed;
  top: -3px;
  right: 1px;
  z-index: 9999;
  pointer-events: none;
}

.au-update-overlay__inner {
  width: 360px;
  pointer-events: auto;
  border-radius: 6px;
  padding: 12px 14px;
}
